# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
not IE 11 # Angular supports IE 11 only as an opt-in. To opt-in, remove the 'not' prefix on this line.

# Alternatevely to this file, the following configuration could be specified in package.json
#  "browserslist": [
#    "> 1%",
#    "last 4 versions",
#    "last 20 Chrome versions",
#    "last 20 Firefox versions"
#  ],